<!-- MENU DE NAVEGAÇÃO -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid container">
        <a class="navbar-brand fw-bold fs-4" href="/">Aluno Blue</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav fs-5">
            <a class="nav-link fw-bold text-center active" aria-current="page" href="/">Home</a>
            <a class="nav-link text-center" href="#">Grade do Curso</a>
            <a class="nav-link text-center" href="#">Nossa formação</a>
            <a class="nav-link text-center" href="#">O que fazemos</a>
            <a class="nav-link text-center" href="/blog">Blog</a>
          </div>
        </div>
      </div>
    </nav>

      <div class="hero container py-5">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 text-white p-3">
            <h1 class="text-dark fw-bold display-3 text-capitalize">A missão do aluno Blue:</h1>
            <p class="text-dark fs-4">Nós nos preparamos para deixar o mundo mais azul e mudar vidas através da tecnologia.</p>
            <button type="button" class="btn btn-outline-primary fw-bold fs-5 conheca-melhor">Clique para conhecer a Blue</button>
          </div>
          <div class="col-12 col-md-7 text-white p-3">
            <img src="/static/images/hero3.png" alt="">
          </div>
        </div>
      </div> <!-- BANNER -->

  </header> <!-- BANNER PRINCIPAL -->